body{
    height: 100%;
    background-color: rgb(235, 229, 229);
}
h2{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: white;
    height: 70px;
    margin: 0;
    border-bottom: 1px solid black;
    padding-left: 20vw;
    padding-right: 20vw;
    text-align: right;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0;
}
aside{
    position: absolute;
    left: 20vw;
}

/*----------Layout----------*/
.container1{
    margin-left: 20vw;
    width: 1150px;
    height: fit-content;
    min-height: 100%;
}
.container2{
    display: inline-block;
    width: 28%;
    margin: 1%;
    height: fit-content;
    vertical-align: top;
    border-radius: 7px;
}
.container3{
    display: inline-block;
    width: 68%;
    margin: 1%;
    height: fit-content;
    vertical-align: top;
    border-radius: 7px;
}
/*----------Hotel Items----------*/
.hotel-item{
    background-color: white;
    margin: 10px;
    height: 200px;
    width: 762px;
    border-radius: 7px;
}
.hotel-item-img{
    display: inline-block;
    width: 250px;
    height: 200px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.hotel-item-desc{
    display: inline-block;
    width: 522;
    vertical-align: top;
    font-size: 11px;
}
.hotel-item-desc-left{
    display: inline-block;
    width: 370px;
    height: 180px;
    margin: 10px;
    vertical-align: top;
}
.hotel-item-desc-right{
    display: inline-block;
    width: 100px;
    height: 180px;
    margin: 10px;
    text-align: right;
    font-size: 13px;
    z-index: 0;
}
.favourite-button{
    position: absolute;
    margin-left: -30px;
    margin-top: 35px;
}
/*----------Filter List----------*/
.filter-box{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
}
.search-box{
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    margin: 7px;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}
.slider-text{
    display: inline-block;
    margin: 0;
    font-size: 17px;
}
.slider-stars{
    margin: 0;
}
.focus{
    border: none;
    border-bottom: 3px solid green;
}
.show{
    display: none;
}
.price-box{
    background-color: transparent;
    border: none;
    margin: 5px;
    font-size: 15px;
}
.drop-box{
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
/*----------Dual Range Slider----------*/
.range-slider {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 3em;
}
  
.range-slider svg,
.range-slider .dual-range {
    position: absolute;
    left: 10%;
    bottom: 0;
}
.dual-range {
    -webkit-appearance: none;
    width: 80%;
  }
  .dual-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}

.dual-range::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
/*-------------- Dropdowncheckboxes-----------*/
h1 {
    color: green;
}
.multipleSelection {
    width: 100%;
    background-color: #ffffff;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkBoxes {
    display: none;
    border: 1px #8DF5E4 solid;
}
#checkBoxes label {
    display: block;
}
#checkBoxes label:hover {
    background-color: #ffffff;
}
/*-----------------Theme Button---------------*/
  .theme-button{
    border: 1px;
    width: 200px;
    border-radius: 7px;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    margin: 15px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}
.theme-button:focus{
    outline: none;
}
.theme-item:hover{
    background-color: #95D5B2;
    cursor: pointer;
}
.content {
    right: 20vw;
    margin-right: 60px;
    width: 200px;
    text-align: center;
}
.content-link{
    font-size: 17px;
}
/*----------------Seach Box---------------*/
.search-input{
    margin: 10px;
    border: 1px solid black;
}
.search-div{
    text-align: center;
    border: 2px solid #52B788;
    flex: 1;
    padding: 10px;
}
.search-dest-box{
    background-image: url('src/assets/images/front-bg.jpg');
    background-size: 100vw 500px;
    border: 1px solid black;
    padding: 10px;
    height: 500px;
}
/*-------------Login Form--------------*/
.form-head{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}
.form-input{
    border: 1px solid black;
    border-radius: 7px;
    margin: 10px;
    width: 50%;
    font-size: 20px;
}
.info-head{
    font-size: 20px;
}
.info-box{
    background-color: white;
    width: 80%;
    margin: 10px 0 10px 10%;
    padding: 10px;
    border-radius: 7px;
    border-left: 2px solid grey;
}
.form-button{
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px 50px 5px 50px;
    margin: 10px;
    font-weight: 600;
}
.error-box{
    margin: 10px;
    width: 50%;
    font-size: 20px;
    color: red;
    background-color: transparent;
}